nav {
  display: flex;
}

/* MAIN AXIS AND CROSS AXIS */
nav {
  display: flex;

  /* flex-direction: column; */
  flex-direction: row;

  justify-content: space-evenly; /* equal space*/
  justify-content: space-around;
  justify-content: space-between;
  justify-content: flex-end;
  justify-content: center;
  justify-content: flex-start;


}

/* flex-start ,flex-end ,center ,space-around
space-between ,space-evenly*/
