.container {
  display: grid;
  /* grid-template-columns: 100px 100px 100px; */
  /* grid-template-columns: 100px auto 100px;
  grid-template-rows: 50px 100px; */
  /* grid-template-columns: 100px auto;
  grid-template-rows: 50px auto 100px ;


  grid-template-columns:1fr 2fr 1fr;
  grid-template-rows: 1fr 3fr;


  grid-template-columns:repeat(3,1fr);

  grid-template:repeat(2,1fr) / repeat(3,1fr);



  grid-gap: 5px; */
}
