*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.one{
    width: 100%;
    background:yellow;
    height: 300px;

    height: 100vh;
}
.two{
    width: 100%;
    background: black;
    height: 300px;

    width: 80%;
    position: relative;
}

P{
  background: green;
  position: absolute;
  top: 30px;

  /* --- differnt between vw and %  --*/
  width: 100%;
  width: 100vw;

  /* it is gud for responding titles */
  font-size: 7vw; /* it will decrease and increase the font size through adjusting the wieght */
  font-size: 7vh; /* it will decrase and increase the fonr size through adjusting the height */
}
