.box{
    border: 2px solid black;
    height: 200px;
    width: 200px;
    margin: 0px auto;
    position: relative;
    background: #000000;
    /* right: 148px;
    left: 148px; */
}
.button{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.button > button{
     padding: 5px 30px;
     margin: 0px 5px;
}
.button > button:hover{
    cursor: pointer;
}