/*  ----- FLEX DIRECTION ROW */
nav{
   display: flex;
   height: 100%;

   align-items: flex-end;
   align-items: flex-start;
   align-items: center;
}


.logout{
   align-self: flex-start;
}
.home{
   align-self: flex-end;
}


/*  ---- FLEX DIRECTION COLUMN */
