:root{
    --primary-color: #432432;
    --secondy-color: green;
    --textialy-color: white;
    --final-color: orange;
    --height: 400px;
    --margin: auto;
}
body{
    background: var(--final-color);
}
.container{
   background: var(--secondy-color);
   height: var(--height);
   color: var(--textialy-color);
   margin: var(--height) var(--margin);
}
p{
   color: var(--textialy-color);
}
